@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import 'destyle.scss';
@import 'variables.scss';
@import 'mixin.scss';

html {
    font-size: 100%;
}

body {
    color: $white;
    font-family: 'ABeeZee', sans-serif;
    font-size: 1.2rem;

    @include mq(md) {
        font-size: 1.0rem;
    }
}

.app {
    position: relative;
    min-height: 100vh;
    background-image: url('../../public/images/background.png');
    background-repeat: repeat;
}

.wrapper {
    padding-bottom: 64px;
}
