@charset "utf-8";

@import 'variables.scss';
@import 'mixin.scss';

.home {
    max-width: 80%;
    margin: 32px auto 0;
    padding: 40px 64px 64px;
    border-radius: 64px;
    background-color: $base-color;
    font-size: 1.4rem;

    @include mq(md) {
        max-width: 96%;
        padding: 32px 40px 40px;
        border-radius: 32px;
        font-size: 1.2rem;
    }

    &__warning {
        color: $orange;
        font-size: 2.0rem;

        &-label {
            margin-left: 16px;
            font-size: 2.0rem;

            @include mq(md) {
                font-size: 1.6rem;
            }
        }

        &-1 {
            margin-top: 48px;

            @include mq(md) {
                margin-top: 16px;
                font-size: 1.0rem;
            }
        }

        &-2 {
            margin-top: 32px;

            @include mq(md) {
                margin-top: 16px;
                font-size: 1.0rem;
            }
        }
        &-3 {
            margin-top: 32px;

            @include mq(md) {
                margin-top: 16px;
                font-size: 1.0rem;
            }
        }

        &-4 {
            margin-top: 32px;

            @include mq(md) {
                margin-top: 16px;
                font-size: 1.0rem;
            }
        }
    }
}
