@charset "utf-8";

@import 'variables.scss';
@import 'mixin.scss';

.pet-kind {
    @include petKindBase();
    background-color: slategray;
    color: $black;

    &--active {
        @include petKindBase();
        background-color: $main-color;
        color: $white;
    }

    &:hover {
        opacity: .8;
    }

    &__name {
        margin-top: -24px;
        padding: 4% 0;
        font-size: 0.9rem;

        @include mq(lg) {
            font-size: 0.8rem;
        }

        @include mq(sm) {
            font-size: 0.7rem;
        }
    }
}
