@charset "utf-8";

@import 'variables.scss';
@import 'mixin.scss';

.pet-kinds {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 16px auto 0;
    padding: 0 4%;

    @include mq(md) {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    }

    @include mq(sm) {
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    }

    &__message {
        margin-top: 16px;
        color: $accent-color;
        font-weight: bold;
        text-align: center;

        @include mq(sm) {
            font-size: 0.8rem;
        }
    }
}
